$fg-column: 80px; // I think these are just desired relative values, they get changed to percent
$fg-gutter: 10px;
$fg-max-columns: 36;

$contain-padding: 80px;

$class-slug: block !default;

.container {
	width: flex-grid($fg-max-columns);
	position:relative;
	@include box-sizing(border-box);
	padding:0 $contain-padding;
	@include breakpoint(large) {
		padding:0 $contain-padding/2;
	}
	@include breakpoint(medium) {
		padding:0 $contain-padding/4;
	}
	@include breakpoint(small) {
		padding:0 $contain-padding/8;
	}
}

.container:after {
	content: "";
	display: table;
	clear: both;
}
@for $i from 1 through $fg-max-columns {
	.#{$class-slug}-#{$i} {
		float:left;
		width: flex-grid($i);
		min-height:1px;
		
		@if $i < $fg-max-columns {
			margin-right: flex-gutter();
		}
		
		@include breakpoint(small) {
			width:100%;
			margin-right:0;
		}
	}
}
[class*='#{$class-slug}-']:last-of-type {
	margin-right: 0;
}
[class*='#{$class-slug}-'].fix {
	margin-right:0;
}