@import "bourbon/bourbon";
@import "libs/reset";
@import "libs/helpers";
@import "grid";

$grey-color: #e5e5e5;
$green-color: #61E981;

html,body {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:48px;
	margin-top:30px;
	margin-bottom:10px;
}
#install_form {
	
	label {
		padding:15px 0px;
		display:block;
	}
	input[type=text], input[type=password] {
		width:100%;
		padding:15px;
		border:1px solid $grey-color;
	}
	
	input[type="radio"] {
		background-color: $grey-color;
		padding: 5px;
		border-radius: 100%;
		border: 3px solid $grey-color;
		cursor:pointer;
	}
		input[type="radio"]:checked {
			background-color:$green-color;
		}
	
	.check {
		display:inline-block;
		padding:15px 0px;
	}
	
	input[type=submit] {
		background-color:$green-color;
		padding:10px 15px;
		color:#FFF;
		border:none;
		cursor:pointer;
	}
		input[type=submit]:hover {
			background-color:lighten($green-color,20%);
		}
}
	
.row {
	padding-bottom:15px;
}