@import "bourbon/bourbon";
@import "libs/reset";

// Set the 4 break point sizes | Also change them in helpers.scss
$largest: 	1440px;
$large:		950px;
$medium:	768px;
$small:		480px;

@import "libs/helpers";
@import "grid";

@media (max-width: $largest) {
	
}
@media (max-width: $large) {
	
}
@media (max-width: $medium) {
	
}
@media (max-width: $small) {
	
}