// Set the 4 break point sizes
$largest: 	1440px;
$large:		950px;
$medium:	768px;
$small:		480px;

@mixin breakpoint($point) {
  @if $point == largest {
    @media (max-width: $largest) { @content; }
  }
  @else if $point == large {
    @media (max-width: $large) { @content; }
  }
  @else if $point == medium {
    @media (max-width: $medium)  { @content; }
  }
  @else if $point == small {
    @media (max-width: $small)  { @content; }
  }
}

@mixin loadFont($name,$file) {
	@font-face {
		font-family: '$name';
		src:		url('$file.eot');
		src:		url('$file.eot?#iefix') format('embedded-opentype'),
				url('$file.woff') format('woff'),
				url('$file.ttf') format('truetype');
	}
}

* {
	@include box-sizing(border-box);
}